DB_NAME = <name-of-the-database>
DB_USER = <username-for-the-database>
DB_PASSWORD = <password-for-the-database>
DB_HOST = <host-of-the-database> (localhost for this example)
DB_PORT = <port-of-the-database>
DB_URL = "postgresql+psycopg2://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>"